@charset "UTF-8";


/* Main */
hgroup.main-title {
	overflow: hidden;
	padding-top: 100px;
	text-align: center;
	margin-bottom: 55px;
	text-transform: uppercase;
}
hgroup.main-title * {
	-webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
hgroup.main-title h2 {
	margin-bottom: 25px;
	color: #222;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 8px;
}
hgroup.main-title p {
	color: #666;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4em;
	letter-spacing: -0.5px;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

/* Company */
.main section.company {
    position: relative;
	width: 100%;
	height: 100vh;
}
.main section.company .owl-carousel,
.main section.company .owl-stage-outer,
.main section.company .owl-stage,
.main section.company .owl-item,
.main section.company .item {
	position: relative;
	height: 100%;
}
.main section.company .item {
	overflow: hidden;
}
.main section.company .item .inner {
	height: 100%;
	padding-top: 220px;
}
.main section.company .item .inner strong,
.main section.company .item .inner p {
	position: relative;
	left: 3.5%;
	z-index: 1;
	display: block;
	padding-right: 7%;
	color: #fff;
}
.main section.company .item .inner strong {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: 400;
	line-height: 1.3em;
	text-transform: uppercase;
	letter-spacing: 8px;
	opacity: 0;
	-webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
.main section.company .item .inner p {
	margin-top: 1.5%;
	font-size: 17px;
	line-height: 1.6em;
	opacity: 0;
	-webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
.main section.company .item .item-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:0;
	width: 100%;
	height: 100%;
	transform: scale(1);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.main section.company .item.v1 .inner {
	position: relative;
}
.main section.company .item.v1 .inner:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
    background-image: url("../../images/thumb/img-main-v1-mask.png");    
    opacity: 0.5;
}
.main section.company .item.v1 .item-bg {
    background-image: url("../../images/bg/main-visual1.jpg");
}
.main section.company .item.v1 .item-symbol1 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 326px;
	height: 326px;
	margin-top: -180px;
	margin-left: -136px;
	opacity: 0.5;
} 
.main section.company .item.v1 .item-symbol1:before {
    content: '';
    position: absolute;
    left: 8%;
    right: 8%;
    top: 8%;
    bottom: 8%;
    border-bottom: 5px solid #fff;
    border-radius: 50%;
} 
.main section.company .item.v1 .item-symbol1:after {
    content: '';
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    border-top: 5px solid #fff;
    border-radius: 50%;
} 
.main section.company .item.v1 .item-symbol1 i {
    position: absolute;
    left: 22%;
    right: 22%;
    top: 22%;
    bottom: 22%;
    border-bottom: 3px solid #fff;
    border-radius: 50%;
}
.main section.company .item.v1 .item-symbol2 {
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-top: -365px;
    margin-left: -270px;
    width: 550px;
    height: 550px;
} 
.main section.company .item.v1 .item-symbol2 i {
	position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.5);
	-webkit-animation: fade-in 2s ease-out infinite;
	-moz-animation: fade-in 2s ease-out infinite;
	-o-animation: fade-in 2s ease-out infinite;
	-ms-animation: fade-in 2s ease-out infinite;
	animation: fade-in 2s ease-out infinite;
} 
.main section.company .item.v1 .item-symbol2 i.dot1 {
	top: 174px;
    left: 175px;
} 
.main section.company .item.v1 .item-symbol2 i.dot2 {
    top: 240px;
    left: 110px;
	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	-ms-transition-delay: 2s;
	transition-delay: 2s;
}
.main section.company .item.v1 .item-symbol3 {
	position: absolute;
    right: 50%;
    bottom: 0;
    width: 218px;
    height: 420px;
    z-index: 2;
    margin-right: 136px;
}  
.main section.company .item.v1 .item-symbol3 .arrow1 {
	position: absolute;
    right: 42%;
    top: 0;
} 
.main section.company .item.v1 .item-symbol3 .arrow2 {
	position: absolute;
    right: 1%;
    top: 0;
} 
.main section.company .item.v1 .item-symbol3 .arrow3 {
	position: absolute;
    left: 19%;
    top: 0;
}
.main section.company .item.v2 .item-bg {
    background-image: url("../../images/bg/main-visual2.jpg");
}
.main section.company .item.v3 .item-bg {
    background-image: url("../../images/bg/main-visual3.jpg");
}
.main section.company .item.v3 .item-symbol1 {
	position: absolute;
	top: -100%;
	left: auto;
	right: 200px;
	z-index:1;
	width: auto;
	-webkit-transition: top 0.7s ease-out;
    -moz-transition: top 0.7s ease-out;
    -ms-transition: top 0.7s ease-out;
    -o-transition: top 0.7s ease-out;
    transition: top 0.7s ease-out;
}
.main section.company .item.v3 .item-symbol2 {
	position: absolute;
	top: 40%;
	left: auto;
	right: 105px;
	z-index:1;
	width: auto;
	opacity: 0;
	-webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.main section.company .owl-item.active .inner strong {
	left: 7%;
	z-index: 2;
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.main section.company .owl-item.active .inner p {
	left: 7%;
	z-index: 2;
	opacity: 1;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.main section.company .owl-item.active .item-bg {
    animation: scale 1s forwards;
}

.main section.company .owl-item.active .item.v1 .item-symbol1:before {
    -moz-animation: spin-right 3s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: spin-right 3s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: spin-right 3s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: spin-right 3s linear 0s infinite normal;
    transform-origin: 50% 50%;
} 
.main section.company .owl-item.active .item.v1 .item-symbol1:after {
    -moz-animation: spin-left 3s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: spin-left 3s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: spin-left 3s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: spin-left 3s linear 0s infinite normal;
    transform-origin: 50% 50%;
} 
.main section.company .owl-item.active .item.v1 .item-symbol1 i {
    -moz-animation: spin-right 2s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: spin-right 2s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: spin-right 2s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: spin-right 2s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
.main section.company .owl-item.active .item.v1 .item-symbol3 .arrow1 {
	-webkit-animation: arrow-top1 1s linear infinite;
	-moz-animation: arrow-top1 1s linear infinite;
	-o-animation: arrow-top1 1s linear infinite;
	-ms-animation: arrow-top1 1s linear infinite;
	animation: arrow-top1 1s linear infinite;
}
.main section.company .owl-item.active .item.v1 .item-symbol3 .arrow2 {
	-webkit-animation: arrow-top1 0.7s linear infinite;
	-moz-animation: arrow-top1 0.7s linear infinite;
	-o-animation: arrow-top1 0.7s linear infinite;
	-ms-animation: arrow-top1 0.7s linear infinite;
	animation: arrow-top1 0.7s linear infinite;
}
.main section.company .owl-item.active .item.v1 .item-symbol3 .arrow3 {
	-webkit-animation: arrow-top3 0.5s linear infinite;
	-moz-animation: arrow-top3 0.5s linear infinite;
	-o-animation: arrow-top3 0.5s linear infinite;
	-ms-animation: arrow-top3 0.5s linear infinite;
	animation: arrow-top3 0.5s linear infinite;
}
.main section.company .owl-item.active .item.v1 .item-symbol3 .dot1 {
	-webkit-animation: arrow-top3 1s linear infinite;
	-moz-animation: arrow-top3 1s linear infinite;
	-o-animation: arrow-top3 1s linear infinite;
	-ms-animation: arrow-top3 1s linear infinite;
	animation: arrow-top3 1s linear infinite;
}

.main section.company .owl-item.active .item.v3 .item-symbol1 {
	top: 0px;
}
.main section.company .owl-item.active .item.v3 .item-symbol1 img {
	-webkit-animation: bounce 4s linear infinite;
	-moz-animation: bounce 4s linear infinite;
	-o-animation: bounce 4s linear infinite;
	-ms-animation: bounce 4s linear infinite;
	animation: bounce 4s linear infinite;
}
.main section.company .owl-item.active .item.v3 .item-symbol2 {
	top: 52%;
	opacity: 1;
}
.main section.company .owl-item.active .item.v3 .item-symbol2 img {
	-webkit-animation: bounce 5.5s linear infinite;
	-moz-animation: bounce 5.5s linear infinite;
	-o-animation: bounce 5.5s linear infinite;
	-ms-animation: bounce 5.5s linear infinite;
	animation: bounce 5.5s linear infinite;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

/* Business */
.main section.business {
	width: 100%;    
	padding-bottom: 75px;
	background: #fff;
}
.main section.business .list-thumb {
	overflow: hidden;
	width: 92.4%;
	max-width: 1230px;
	margin: 0 auto;
}
.main section.business .list-thumb li { 
	position: relative;
	overflow: hidden;    
	float: left;
	width: 33.3%;
	padding: 1.2%;
    -webkit-transition: all 0.6s cubic-bezier(.4,0,.2,1);
    -moz-transition: all 0.6s cubic-bezier(.4,0,.2,1);
    -o-transition: all 0.6s cubic-bezier(.4,0,.2,1);
    transition: all 0.6s cubic-bezier(.4,0,.2,1);
}
.main section.business .list-thumb li.w50 { 
	width: 50%;
}
.main section.business .list-thumb li figure {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;	
}
.main section.business .list-thumb li figure img {
	width: 100%;
}
.main section.business .list-thumb li div {
	display: none;
    position: absolute;
	width: 100%;
	height: 100%;
    background-color: rgba(18,122,183,0.5);
}
.main section.business .list-thumb li figcaption {
	position: absolute;
	top: 43%;
	left: 0px;
	z-index: 2;
	width: 100%;	
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.main section.business .list-thumb li strong {
	display: block;
	color: #fff;
	font-size: 2.7vw;
}
.main section.business .list-thumb li a {
	display: none;
	margin-top: 20px;
	padding: 2.3% 6.5%;
	color: #fff;
	font-size: 14px;
	border-radius: 30px;
	border: 1px solid #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.main section.business .list-thumb li:hover figcaption {
	top: 35%;
}
.main section.business .list-thumb li:hover a {
	display: inline-block;
}
.main section.business .list-thumb li a:hover {
	color: #010101;
	background: #fff;
}

/* Solution */
.main section.solution {
	width: 100%;
	padding-bottom: 100px;
	background: #eff0f1;
}
.main section.solution .list-thumb > li { 
	position: relative;
	overflow: hidden;
	width: 100%;
    -webkit-transition: all 0.6s cubic-bezier(.4,0,.2,1);
    -moz-transition: all 0.6s cubic-bezier(.4,0,.2,1);
    -o-transition: all 0.6s cubic-bezier(.4,0,.2,1);
    transition: all 0.6s cubic-bezier(.4,0,.2,1);
}
.main section.solution .list-thumb li figure:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: width 0.7s ease-out;
	-moz-transition: width 0.7s ease-out;
	-o-transition: width 0.7s ease-out;
	-ms-transition: width 0.7s ease-out;
	transition: width 0.7s ease-out;	
}
.main section.solution .list-thumb li figure img {
	width: 100%;
}
.main section.solution .list-thumb li figcaption {
	position: absolute;
	top: 0px;
	bottom: 0px;
	z-index: 2;
	width: 40%;
	padding: 5%;
	background-color: rgba(255,255,255,0.9);
	background-repeat: no-repeat;
	background-size: auto 61%;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;	
} 
.main section.solution .list-thumb li figcaption strong {
	display: block;
	color: #222;
	font-size: 24px;
}
.main section.solution .list-thumb li figcaption ul {
	margin: 25px 0 30px; 
}
.main section.solution .list-thumb li figcaption ul li {
	color: #666;
	font-size: 14px;
	line-height: 1.5em;
}
.main section.solution .list-thumb li figcaption a {
	overflow: hidden;
	position: relative;
	width: 125px;
	padding: 8px 0;
	color: #222;
	font-size: 14px;
	border-radius: 20px;
	border: 1px solid #222;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.main section.solution .list-thumb li figcaption a:hover {
	color: #fff;
	background: none;
	border: 1px solid #0caddf;
}
.main section.solution .list-thumb li figcaption a:before {
	opacity: 0;
	content:'';
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: -50px;
	width: 100%;
	height: 100%;
	background: #0caddf; 
	background: -moz-linear-gradient(left, #0caddf 0%, #2cd3c7 100%);
	background: -webkit-linear-gradient(left, #0caddf 0%,#2cd3c7 100%);
	background: linear-gradient(to right, #0caddf 0%,#2cd3c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0caddf', endColorstr='#2cd3c7',GradientType=1 );
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.main section.solution .list-thumb li figcaption a:hover:before{
	opacity: 1;
}

.main section.solution .list-thumb li.s1 figure:before {
	background-image: url(../../images/thumb/thumb-solution1.jpg);
}
.main section.solution .list-thumb li.s1 figure figcaption {
	right: 0;
	background-image: url(../../images/thumb/img-solution1.png);
	background-position: right center;
}
.main section.solution .list-thumb li.s2 figure:before {
	background-image: url(../../images/thumb/thumb-solution2.jpg);
}
.main section.solution .list-thumb li.s2 figure figcaption {
	left: 0;
	text-align: right;
	background-image: url(../../images/thumb/img-solution2.png);
	background-position: left center;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.main section.solution .list-thumb li.s3 figure:before {
	background-image: url(../../images/thumb/thumb-solution3.jpg);
}
.main section.solution .list-thumb li.s3 figure figcaption {
	right: 0;
	background-image: url(../../images/thumb/img-solution3.png);
	background-position: right center;
}
.main section.solution .list-thumb li:hover figure:before {
	width: 105%;
}
/* Client */
.main section.client {
	width: 100%;
	height:900px;
	overflow:hidden;
	/*background: url(../../images/bg/bg-client.png) no-repeat center bottom;
	background-attachment: fixed;*/
}
.main section.client .inner {
	height: 100%;
	overflow: visible;
}
.main section.client .symbol-client {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
.main section.client .scroll-bg {
	position: relative;
}
.main section.client .symbol-client p {
	display: table;
	position: absolute;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	text-align: center;
	border-radius: 50%;
}
.main section.client .symbol-client span {    
	position: absolute;
    top: 43%;
	left: 0px;
	z-index: 1;
    width: 100%;
    text-align: center;
}
.main section.client .symbol-client p.c-s1 {
	top: 45px;
	left: 7%;
}
.main section.client .symbol-client p.c-s2 {
	top: 249px;
	left: 23%;
}
.main section.client .symbol-client p.c-s3 {
	top: 0px;
	left: 54.3%;
}
.main section.client .symbol-client p.c-s4 {
	top: 175px;
	right: 0px;
}
.main section.client .symbol-client p.c-s5 {
	top: 315px;
	left: 52.1%;
}

/* Recruit */
.main section.recruit {
	width: 100%;    
	padding-bottom: 100px;
	background: #fff;
}
.main section.recruit ul {
	width: 90%;
	max-width: 1200px;
	margin: 0px auto;
}
.main section.recruit ul li {
	position: relative;
	float: left;
	width: 50%;
	overflow: hidden;
	cursor: pointer;
}
.main section.recruit ul li::before {
	content: '';
	position: absolute;
	top: 4.5%;
	left: 3.5%;
	width: 93%;
	height: 91%;
	z-index: 1;	
	border: 1px solid rgba(255,255,255,0.3);
}
.main section.recruit ul li a {
	position: relative;
	display: block;
	width: 100%;	
	text-align: center;
}
.main section.recruit ul li a:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	background-image: url(../../images/thumb/thumb-recruit2.gif);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;	
}
.main section.recruit ul li a img {
	width: 100%;
}
.main section.recruit ul li a span {
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 3;
	color: #fff;
	font-size: 40px;
	margin-left: -80px;
}
.main section.recruit ul li a span:before {
	content: '';
	position: absolute;
	top: -30%;
    left: 0%;
	width: 40px;
    border-top: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.main section.recruit ul li a span:after {
	content: '';
	position: absolute;  
	top: 130%;
	right: 0%;
	width: 40px;
    border-top: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.main section.recruit ul li:first-child:before {
	display: none
}
.main section.recruit ul li:first-child a:before {
	top: 10%;
	z-index:1;
	background-image: url(../../images/thumb/img-recruit-symbol.png);
}
.main section.recruit ul li:first-child a:after {
	content: '';
	position: absolute;
	top: 10%;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: #e7e7e5;
}
.main section.recruit ul li:first-child a img {
	position: relative;
	z-index: 2;
}
.main section.recruit ul li:first-child span {
	top: 32%;
	left: 10%;
	width: auto;
	margin-left: 0px;
}
.main section.recruit ul li:hover a:before,
.main section.recruit ul li a:hover:before {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/* Slide */
.owl-carousel .owl-stage {
	-webkit-transition: all 0.35s ease-in-out !important;
	-moz-transition: all 0.35s ease-in-out !important;
	-o-transition: all 0.35s ease-in-out !important;
	-ms-transition: all 0.35s ease-in-out !important;
	transition: all 0.35s ease-in-out !important;	
}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	top: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	background-color: rgba(255,255,255,0.5)
}
.owl-carousel .owl-nav button.owl-prev {
	left: 80px;
}
.owl-carousel .owl-nav button.owl-prev i {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: 10px;
}

.owl-carousel .owl-nav button.owl-next {
	right: 80px;
}
.owl-carousel .owl-nav button.owl-next i {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: -10px;
}
.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled {
	opacity: 0.3;
}

.owl-carousel .owl-dots {
	position: absolute;
	top: 415px;    
	left: 50%;
    margin-left: -600px;
}
.owl-carousel button.owl-dot {
	display: inline-block;
	vertical-align: top;
	width: 65px;
	height: 5px;
	margin-right: 5px;
	background-color: rgba(255,255,255,0.4)
}
.owl-carousel button.active {
	background-color: rgba(255,255,255,1)
}
.owl-carousel .owl-item img {
    width: auto;
}

/* Scroll button */
.scroll-btn {
	position: absolute;
	left:  50%;
	bottom: 0px;
	z-index: 2;
	width: 76px;
	height: 140px;
	margin-left: -38px;
	color: #fff;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 18px;
	font-size: 10px;
	letter-spacing: 2px;
	text-align: center;
	/*-webkit-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
	-moz-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
	-o-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
	-ms-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
    animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;*/
}
.scroll-btn:before {
	content: '';
	position: absolute;
	top: 22px;
	left: 0px;
    z-index: -1;
	width: 76px;
	height: 76px;
	border-radius: 10px;
	background: rgba(0,0,0,0.2);
}
.scroll-btn * {
	display: block;
}
.scroll-btn .mouse {
    position: relative;
    width: 30px;
    height: 44px;
    margin: 0 auto 5px;
    border: 2px solid #fff;
    border-radius: 60px;
    background-size: 225%;
    /*border: 2px solid transparent;
    -webkit-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
    -moz-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
    -o-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
    -ms-animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;
    animation: colorMouse 1.5s ease-out infinite, nudgeMouse 1.5s ease-out infinite;*/
}
.scroll-btn .mouse:before, 
.scroll-btn .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.scroll-btn .mouse:before {
	display: none;
    width: 30px;
    height: 45px;
	border: 2px solid #222a30;
    border-radius: 60px;
}
.scroll-btn .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	width: 5px;
    height: 5px;
    margin: auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: trackBallSlide 1.5s ease-out infinite;
    animation: trackBallSlide 1.5s ease-out infinite;
}
.scroll-btn .arrow {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100%;
	height: 12px;
	margin: 10px auto 0;
	background: url(../../images/ico/ico-arrow-bottom.png) no-repeat center;
	/*-webkit-animation: arrowMouse 1.5s ease-out infinite;
	-moz-animation: arrowMouse 1.5s ease-out infinite;
	-o-animation: arrowMouse 1.5s ease-out infinite;
	-ms-animation: arrowMouse 1.5s ease-out infinite;
	animation: arrowMouse 1.5s ease-out infinite;*/
}
/*.scroll-btn .arrow:before,
.scroll-btn .arrow:after {
	content: '';
	position: absolute;
    top: 0px;
    left: 12px;
	width: 10px;
    height: 10px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: colorMouse 1.5s ease-out infinite;
	-moz-animation: colorMouse 1.5s ease-out infinite;
	-o-animation: colorMouse 1.5s ease-out infinite;
	-ms-animation: colorMouse 1.5s ease-out infinite;
    animation: colorMouse 1.5s ease-out infinite;
}
.scroll-btn .arrow:after {
    top: 5px;
}*/


/* Animate */

/* Mouse */
@-webkit-keyframes colorSlide {
  0% {
    border-color: #4e5559;
  }
  20% {
    border-color: #ffffff;
  }
  21% {
    border-color: #4e5559;
  }
  29.99% {
    border-color: #ffffff;
  }
  30% {
    border-color: #4e5559;
  }
  50% {
  }
  51% {
    border-color: #4e5559;
  }
  59% {
    border-color: #ffffff;
  }
  60% {
    border-color: #4e5559;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    border-color: #4e5559;
  }
  90%, 100% {
    border-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    border-color: #4e5559;
  }
  20% {
    border-color: #ffffff;
  }
  21% {
    border-color: #4e5559;
  }
  29.99% {
    border-color: #ffffff;
  }
  30% {
    border-color: #4e5559;
  }
  50% {
  }
  51% {
    border-color: #4e5559;
  }
  59% {
    border-color: #ffffff;
  }
  60% {
    border-color: #4e5559;
  }
  80% {
  }
  81% {
    border-color: #4e5559;
  }
  90%, 100% {
    border-color: #ffffff;
  }
}
@-webkit-keyframes spin-right {
    0%  {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        -o-transform: rotate(0deg); 
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); 
        -webkit-transform: rotate(360deg); 
        -o-transform: rotate(360deg); 
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin-right {
    0%  {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        -o-transform: rotate(0deg); 
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); 
        -webkit-transform: rotate(360deg); 
        -o-transform: rotate(360deg); 
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-left {
    0%  {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        -o-transform: rotate(0deg); 
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg); 
        -webkit-transform: rotate(-360deg); 
        -o-transform: rotate(-360deg); 
        -moz-transform: rotate(-360deg);
    }
}
@keyframes spin-left {
    0%  {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        -o-transform: rotate(0deg); 
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg); 
        -webkit-transform: rotate(-360deg); 
        -o-transform: rotate(-360deg); 
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes trackBallSlide {
	0% {
    	opacity: 1;
    	-webkit-transform: scale(1) translateY(-10px);
    	-moz-transform: scale(1) translateY(-10px);
    	-o-transform: scale(1) translateY(-10px);
    	-ms-transform: scale(1) translateY(-10px);
        transform: scale(1) translateY(-10px);
  	}
  	100% {
    	opacity: 0;
    	-webkit-transform: scale(0.4) translateY(30px);
    	-moz-transform: scale(0.4) translateY(30px);
    	-o-transform: scale(0.4) translateY(30px);
    	-ms-transform: scale(0.4) translateY(30px);
        transform: scale(0.4) translateY(30px);
  	}
}
@keyframes trackBallSlide {
	0% {
    	opacity: 1;
    	-webkit-transform: scale(1) translateY(-10px);
    	-moz-transform: scale(1) translateY(-10px);
    	-o-transform: scale(1) translateY(-10px);
    	-ms-transform: scale(1) translateY(-10px);
        transform: scale(1) translateY(-10px);
  	}
  	100% {
    	opacity: 0;
    	-webkit-transform: scale(0.4) translateY(30px);
    	-moz-transform: scale(0.4) translateY(30px);
    	-o-transform: scale(0.4) translateY(30px);
    	-ms-transform: scale(0.4) translateY(30px);
        transform: scale(0.4) translateY(30px);
  	}
}
@-webkit-keyframes nudgeMouse {
  	0% {
	  	transform: translateY(0);
	}
  	50% {
		transform: translateY(6px);
	}
	100% {
	  	transform: translateY(0);
	}
}
@keyframes nudgeMouse {
  	0% {
	  	transform: translateY(0);
	}
  	50% {
		transform: translateY(6px);
	}
	100% {
	  	transform: translateY(0);
	}
}
@-webkit-keyframes colorMouse {
	0% {
	  	color: #fff;
	  	border-color: #fff;
	}
	50% {
	  	color: rgba(255,255,255,0.3);
	  	border-color: rgba(255,255,255,0.1);
	}
	100% {
	  	color: #fff;
	  	border-color: #fff;
	}
}
@keyframes colorMouse {
  	0% {
	  	color: #fff;
	  	border-color: #fff;
	}
	50% {
	  	color: rgba(255,255,255,0.3);
	  	border-color: rgba(255,255,255,0.1);
	}
	100% {
	  	color: #fff;
	  	border-color: #fff;
	}
}
@-webkit-keyframes arrowMouse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes arrowMouse {
  	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
/* Scale */
@-webkit-keyframes scale {
    0% {
		transform:scale(1.15);
	}
    100% {
		transform:scale(1);
	}
}
@keyframes scale {
    0% {
		transform:scale(1.15);
	}
    100% {
		transform:scale(1);
	}
}
/* Arrow Top */
@-webkit-keyframes arrow-top1 {
  	0% {
	  	top: 80%;
        opacity: 0;
	}
	50% {
	  	top: 40%;
        opacity: 0.2;
	}
	100% {
	  	top: 0;
        opacity: 0;
	}
} 
@keyframes arrow-top1 { 
  	0% {
	  	top: 80%;
        opacity: 0;
	}
	50% {
	  	top: 40%;
        opacity: 0.2;
	}
	100% {
	  	top: 0;
        opacity: 0;
	}
} 
@-webkit-keyframes arrow-top2 {
  	0% {
	  	top: 80%;
        opacity: 0;
	}
	50% {
	  	top: 40%;
        opacity: 0.2;
	}
	100% {
	  	top: 0;
        opacity: 0;
	}
} 
@keyframes arrow-top2 { 
  	0% {
	  	top: 80%;
        opacity: 0;
	}
	50% {
	  	top: 40%;
        opacity: 0.2;
	}
	100% {
	  	top: 0;
        opacity: 0;
	}
} 
@-webkit-keyframes arrow-top3 {
  	0% {
	  	top: 80%;
        opacity: 0;
	}
	50% {
	  	top: 60%;
        opacity: 0.2;
	}
	100% {
	  	top: 30%;
        opacity: 0;
	}
} 
@keyframes arrow-top3 { 
  	0% {
	  	top: 80%;
        opacity: 0;
	}
	50% {
	  	top: 60%;
        opacity: 0.2;
	}
	100% {
	  	top: 30%;
        opacity: 0;
	}
}
@-webkit-keyframes fade-in {
  	0% {
        opacity: 0;
	}
	50% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}
@keyframes fade-in { 
  	0% {
        opacity: 0;
	}
	50% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}
/* Bounce */
@-webkit-keyframes bounce {
  	0% {
	  	transform: translateY(0);
	}
  	50% {
		transform: translateY(15px);
	}
	100% {
	  	transform: translateY(0);
	}
} 
@keyframes bounce { 
  	0% {
	  	transform: translateY(0);
	}
  	50% {
		transform: translateY(15px);
	}
	100% {
	  	transform: translateY(0);
	}
}


@media (min-width:1001px) {	
	/* Main */

	/* Business */
	.main section.business .list-thumb li strong {
		font-size: 30px;
	}
	
	/* Client */
	.main section.client .scroll-bg img {    
		position: absolute;
		top: 43%;
		left: 0px;
		z-index: 1;
	}
	.main section.client .scroll-bg img.c-all {
		display: none;
	}
	.main section.client .scroll-bg img.c-s1 {
		top: 0;
		left: 0%;
		margin-top: 5%;
		-webkit-transition: top 1s ease-out;
		-moz-transition: top 1s ease-out;
		-o-transition: top 1s ease-out;
		-ms-transition: altopl 1s ease-out;
		transition: top 1s ease-out;
	}
	.main section.client .scroll-bg img.c-s2 {
		top: 0;
		left: 12%;
		margin-top: 31%;
		-webkit-transition: top 1.5s ease-out;
		-moz-transition: top 1.5s ease-out;
		-o-transition: top 1.5s ease-out;
		-ms-transition: top 1.5s ease-out;
		transition: top 1.5s ease-out;
	}
	.main section.client .scroll-bg img.c-s3 {
		top: 0%;
		left: 45%;
		margin-top: -2%;
		-webkit-transition: top 0.3s ease-out;
		-moz-transition: top 0.3s ease-out;
		-o-transition: top 0.3s ease-out;
		-ms-transition: top 0.3s ease-out;
		transition: top 0.3s ease-out;
	}
	.main section.client .scroll-bg img.c-s4 {
		top: 0;
		left: 36%;
		margin-top: 8%;
		-webkit-transition: top 2s ease-out;
		-moz-transition: top 2s ease-out;
		-o-transition: top 2s ease-out;
		-ms-transition: top 2s ease-out;
		transition: top 2s ease-out;
	}
	.main section.client .scroll-bg img.c-s5 {
		top: 0;
		left: 45%;
		margin-top: 16%;
		-webkit-transition: top 1s ease-out;
		-moz-transition: top 1s ease-out;
		-o-transition: top 1s ease-out;
		-ms-transition: top 1s ease-out;
		transition: top 1s ease-out;
	}
	.main section.client .scroll-bg img.c-s6 {
		top: 0;
		left: auto;
		right: 12%;
		margin-top: 6%;
		-webkit-transition: top 0.3s ease-out;
		-moz-transition: top 0.3s ease-out;
		-o-transition: top 0.3s ease-out;
		-ms-transition: top 0.3s ease-out;
		transition: top 0.3s ease-out;
	}
	.main section.client .scroll-bg img.c-s7 {
		top: 0;
		left: auto;
		right: 11%;
		margin-top: 25%;
		-webkit-transition: top 1s ease-out;
		-moz-transition: top 1s ease-out;
		-o-transition: top 1s ease-out;
		-ms-transition: top 1s ease-out;
		transition: top 1s ease-out;
	}
	.main section.client .symbol-client {
		margin-top: 50px;
	}
	
	/* Recruit */
	.main section.recruit { 
		min-height: 100vh;	
	}
}

@media (max-width:1400px) {
	/* Slide */
	.owl-carousel .owl-nav button.owl-prev {
		left: 20px;    
		margin-top: 0px;
	}
	.owl-carousel .owl-nav button.owl-next {
		right: 20px;
		margin-top: 0px;
	}
	.owl-carousel .owl-dots {
		left: 7%; 
		margin-left: 0px;
	}
	
	
	/* Scroll button */
	.scroll-btn {
		margin-bottom: 50px;
	}
	
	/* Main */
	hgroup.main-title {
		padding-top: 7%
	}
	
	/* Company */
	.main section.company .owl-item .item.v3 .item-symbol1 {
		right: 20px;
		width: 40%;
	}
	
	/* Solution */
	.main section.solution .list-thumb li figure figcaption {
		width: 60%;
		padding: 2.5% 3%;
	}
	.main section.solution .list-thumb li figcaption ul {
		margin: 3% 0;
	}
	.main section.solution .list-thumb li figcaption strong {
		font-size: 22px;
	}
	
	/* Client */
	.main section.client {
	    background: url(../../images/bg/bg-client.png) no-repeat center bottom;
		background-attachment: fixed;
		overflow:hidden;
		height:900px;
	}
	.main section.client .scroll-bg img {
		display: none;
	}
	.main section.client .scroll-bg img.c-all {
		display: block;
		position: absolute;
		left: 2%;
		width: 90%;
		-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		-ms-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	}
	.main section.client .symbol-client p.c-s3 img,
	.main section.client .symbol-client p.c-s4 img,
	.main section.client .symbol-client p.c-s5 img {
		opacity: 0.8;
	}	
}

@media (max-width:1000px) {
	/* Main */		
	/* Company */
	.main section.company .owl-item.active .item.v3 .item-symbol1 {
		top: 20%;
	}
	.main section.company .item.v2 .inner {
		padding-top: 180px;
	}
	.main section.company .owl-item.active .item.v2 .inner strong br {
		display: none
	}
	/* Solution */
	.main section.solution .list-thumb li figure figcaption {
		width: 70%
	}
	.main section.solution .list-thumb li figure img {
		min-height: 220px;
	}
	.main section.solution .list-thumb li.s1 figure figcaption {
		padding: 2.5% 150px 2.5% 3%;
	}
	.main section.solution .list-thumb li.s2 figure figcaption {
		padding: 2.5% 2.5% 3% 150px;
	}
	.main section.solution .list-thumb li.s3 figure figcaption {
		padding: 2.5% 150px 2.5% 3%;
	}
	.main section.recruit ul li a span {
		margin-left: -8vw;
		font-size: 4vw;
	}
	.main section.recruit ul li a span:before,
	.main section.recruit ul li a span:after {
		width: 4vw;
	}
	/* Client */
	.main section.client .symbol-client {
		margin-top: 50px;
	}
	.main section.client .symbol-client p img {
		width: 70%
	}
	.main section.client .symbol-client span {
		font-size: 16px;
	}
	.main section.client .symbol-client p.c-s2 {
		top: 37%;
		left: 17%;
	}
	.main section.client .symbol-client p.c-s4 {
		right: 10%;
    	top: 210px;
	}
	.main section.client .symbol-client p.c-s5 {
		top: 45%;
    	left: 45%;
	}
}

@media (max-width:768px) {	
	/* Slide */
	.owl-carousel .owl-nav button.owl-next, 
	.owl-carousel .owl-nav button.owl-prev {
		width: 40px;
		height: 40px;
	}
	.owl-carousel .owl-nav button.owl-prev i {
		width: 20px;
		height: 20px;
	}
	.owl-carousel .owl-dots {
	    top: 270px;
	}
	
	/* Main */
	/* Company */
	.main section.company .item .inner,
	.main section.company .item.v2 .inner {
		padding-top: 100px;
	}
	.main section.company .item .inner strong {
		font-size: 4vw;
	}
	.main section.company .item .inner p {
		font-size: 15px;
	}
	
	/* Business */
	.main section.business .list-thumb li strong {
		font-size: 20px;
	}
	
	/* Solution */
	.main section.solution .list-thumb li figcaption strong {
		font-size: 20px;
	}
}

@media (max-width:640px) {
	

	/* Main */
	hgroup.main-title {
		padding-left: 2%;
		padding-right: 2%;
		margin-bottom: 10%;
	}
	hgroup.main-title h2 {
		margin-bottom: 5%;
		font-size: 6.2vw;
	}
	hgroup.main-title p {
		font-size: 14px;
	}
	
	/* Company */
	.main section.company .item .inner strong {
		font-size: 5vw;
	}
	.main section.company .item .inner p {
		font-size: 14px;
	}
	
	/* Business */
	.main section.business {
		padding-bottom: 7.5%
	}
	.main section.business .list-thumb li strong {
		font-size: 16px;
	}
    .main section.business .list-thumb li a {
        margin-top: 5%
    }
	
	/* Solution */
	.main section.solution {
		padding-bottom: 10%;		
	}
	.main section.solution .list-thumb li figure figcaption {
		width: 100%;
		background-color: rgba(0,0,0,0.2);
	}
	.main section.solution .list-thumb li figure figcaption *,
	.main section.solution .list-thumb li figure figcaption ul li {
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	}
	.main section.solution .list-thumb li figcaption a {
		border-color: #fff;
	}
	
	/* Client */
	.main section.client {
		height: 600px;
	}
	.main section.client .symbol-client{
		margin-top:120px;
	}
	.main section.client .symbol-client p img {
		width: 50%
	}
	.main section.client .symbol-client span {
		font-size: 16px;
	}
	.main section.client .symbol-client p.c-s1 {
		top: 0;
		left: -10%;
	}
	.main section.client .symbol-client p.c-s2 {
		top: 30%;
		left: 0%;
	}
	.main section.client .symbol-client p.c-s3 {
		left: auto;
		right: -10%;
	}
	.main section.client .symbol-client p.c-s5 {
		top: 45%;
		left: 35%;
	}
	
	/* Recruit */
	.main section.recruit {
		padding-bottom: 10%;
	}
}


@media (max-width:480px) {
	/* Main */
	hgroup.main-title {
		padding-left: 5%;
		padding-right: 5%;
	}
	hgroup.main-title p {
		font-size: 13px;
	}
	hgroup.main-title p br {
		display: none
	}
    
    /* Business */
	.main section.business .list-thumb li strong {
		font-size: 12px;
	}
    .main section.business .list-thumb li a {
        margin-top: 5%;
        padding: 2% 5%;
		font-size: 12px;
    }
	
	/* Solution */
	.main section.solution .list-thumb li figure img {
		min-height: 170px;
	}
	.main section.solution .list-thumb li.s1 figure figcaption,
	.main section.solution .list-thumb li.s3 figure figcaption {
		padding: 8% 150px 9% 10%;
	}
	.main section.solution .list-thumb li.s2 figure figcaption {
		padding: 8% 10% 9% 150px;
	}
	.main section.solution .list-thumb li figcaption strong {
		margin-bottom: 10%;
		font-size: 6vw;
	}
	.main section.solution .list-thumb li figcaption ul {
		display: none;
	}
	
	/* Client */
	.main section.client {
		overflow: hidden;
		height: 585px;
	}
	.main section.client .symbol-client p img {
		width: 40%
	}
	.main section.client .symbol-client span {
		font-size: 14px;
	}
	.main section.client .symbol-client p.c-s1 {
		left: -20%;
	}
	.main section.client .symbol-client p.c-s2 {
		left: 0%;
	}
	.main section.client .symbol-client p.c-s3 {
		right: -15%;
	}
	.main section.client .symbol-client p.c-s4 {
		top: 30%;
		right: 12%;
	}
}

@media (max-width:378px) {
	/* Main */
	/* Company */
	.main section.company .owl-item.active .inner p br {
		display: none
	}
	
	/* Business */
    .main section.business .list-thumb li,
    .main section.business .list-thumb li.w50 {
        width: 100%;
        height: 100px;
    }
	.main section.business .list-thumb li strong {
		font-size: 14px;
	}
    .main section.business .list-thumb li:hover figcaption {
        top: 20%;
    }
	
	/* Client */
	.main section.client .symbol-client p.c-s1 {
		left: -25%;
	}
	.main section.client .symbol-client p.c-s2 {
		left: -15%;
	}
	.main section.client .symbol-client p.c-s3 {
		right: -20%;
	}
	.main section.client .symbol-client p.c-s4 {
		right: -10%;
	}
	.main section.client .symbol-client p.c-s5 {
		left: 28%;
	}
}


